.divcon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 60px 0px 60px 0px;
}
.image {
  max-width: 100px;
  max-height: 40px;
}
@media (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .divcon {
    margin: 50px auto;
    gap: 3px;
    max-width: 400px;
  }
  .image {
    max-width: 80px;
    max-height: 30px;
  }
}
