.navlink {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbutton {
  text-transform: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #363c46;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .navbutton {
    display: none;
  }
}
